.work {
    margin-bottom: 3em;

    font-size: 1.1em;

    border-bottom: 1px dashed $lightGrey;
}

.work__title {
    text-transform: none;
    color: $red;
    font-family: "fira_sansregular";
    font-size: 1.5em;
}

.work__img {
    margin: .5em 0;

    border: 1px solid $lightGrey;

    img {
        max-width: 100%;
    }
}
